HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot / Configurações locais
application-local.properties
application-dev.properties

# Variáveis de ambiente
.env
*.env

# Logs
logs/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Sistema Operacional
.DS_Store
Thumbs.db

uploads/